@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.break-spaces {
  white-space: break-spaces;
}

/* stylelint-disable */
@layer components {
  .side-nav {
    @apply flex flex-col justify-between w-4/5 md:w-2/5 lg:w-1/5 h-screen bg-white
    border border-r-gray p-4 fixed left-0 top-0 z-[1000]  translate-x-[-100%]
    transform duration-500 delay-300 ease-in-out shadow-xl;
  }
  
  .side-nav-social {
    @apply text-3xl  hover:border-2 hover:border-green rounded-full p-1;
  }

  .form-input {
    @apply py-3 px-5 rounded-full font-semibold bg-transparent text-black border-green border;
  }

  .btn-red {
    @apply text-white mt-5 bg-red py-1 px-5 rounded font-semibold my-auto text-center;
  }

  .dropdown-button {
    @apply  
    px-6
    py-3
    bg-transparent
    text-white
    border-2 border-white
    font-medium
    text-sm
    leading-tight
    uppercase
    rounded-full
    shadow-md
    hover:bg-transparent hover:shadow-lg
    focus:bg-transparent focus:shadow-lg focus:outline-none focus:ring-0
    active:bg-transparent active:shadow-lg active:text-white
    transition
    duration-150
    ease-in-out
    flex
    items-center
    whitespace-nowrap
    min-w-[180px]   
  }
  
  .dropdown-items {
    @apply 
    min-w-max
    absolute
    /* hidden */
    bg-white
    text-base
    z-50
    float-left
    py-2
    list-none
    text-left
    rounded-lg
    shadow-lg
    mt-1   
    m-0
    bg-clip-padding
    border-none
  }

  .dropdown-list-item {
    @apply 
    text-sm py-2 px-4 font-normal block w-full 
    whitespace-nowrap bg-transparent text-gray-dark hover:bg-gray;    
  }

/* Flash Messages */
.flash-message {
  @apply  flex flex-col rounded min-w-[80%] md:max-w-[35%] border z-[100] border-gray shadow-xl bg-white;
}


.message-header {
 @apply  w-full flex flex-row gap-2 py-1 drop-shadow-md bg-opacity-40;
}


.message-header-icon {
  @apply block pr-2 border-r my-auto text-2xl;
}


.message-header-title {
  @apply block font-bold text-sm capitalize my-auto;
}

.message-content {
  @apply font-medium text-justify p-2 min-h-[50px] text-sm py-1 ;
}
}
/* stylelint-enable */
